*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr';
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container8 {
  width: 100%;
  height: auto;
  display: block;
}


.heading8 {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  padding: 60px 40px;
  width: 100%;
  text-align: center;
}

.title-heading8 {
  margin-top: 85px;
  font-size: 16px;
  font-weight: bold;
  color: #e63946;
  margin-bottom: 5px;
}

.title-para8 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.edit-card8 {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: -30px auto;
  text-align: center;
  margin-bottom: 20px;
}

.edit-section8 {
  margin-top: 10px;
}

/* File Input Styling */
.file-input8 {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Selected File Info */
.file-info8 {
  margin-top: 10px;
  font-weight: bold;
}

/* Button Container */
.button-container8 {
  margin-top: 20px;
}

/* Cancel and Upload Buttons */
.cancel-btn8, .edit-btn8 {
  width: 156px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.cancel-btn8 {
  background-color: #AE0808;
}

.edit-btn8 {
  background-color: #008000;
}

.edit-image8 {
  width: 100px;  
  height: 100px;
  margin-top: 10px;
}

